**/.DS_Store
/hardware/project/basic_compute/*
!/hardware/project/basic_compute/*.sh
!/hardware/project/basic_compute/*.sv

/hardware/project/image_proc/*
!/hardware/project/image_proc/*.sh
!/hardware/project/image_proc/*.sv
